@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@200;300&family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Passion+One&family=Quicksand:wght@400;500;600&family=Roboto+Slab:wght@300;400&family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@200;300&family=Dancing+Script:wght@400;600&family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Mochiy+Pop+One&family=Passion+One&family=Quicksand:wght@400;500;600&family=Roboto+Slab:wght@300;400&family=Wendy+One&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Roboto Slab', 'cursive';
    --font3: 'Dancing Script' , 'sans-serif'

}

*{
    margin: 0;
    padding: 0;
 
}

html, body{
    min-height: 100vh; /* minimo da altura da tela*/
    background-color: darkgrey;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: #fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /* as letras ficaram maiusculas suave*/
    font-family: var(--font1);
}

header > p{
    padding-bottom: 50px;
}

 header a, footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{ /*todas as section*/
   padding-top: 10vh; /*altura da tela inteira*/
   padding-bottom: 10vh;
   line-height: 2em; /* espaçamento entre linhas*/
   padding-left: 30px;
   font-family: var(--font3);
   font-size: 20px;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: #fff;
    color: black;
}

section.imagem{
    background-color: rgb(88, 84, 84);
    color: #fff;
    background-size: cover;
    background-attachment: fixed; /*ficar a imagem*/
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.185);
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    width: 400px;
    background-color: rgba(65, 62, 62, 0.486);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.158);
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

section#img02{
    background-image: url(imagens/background002.jpg);
    
}

footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}